// Global Stylesheet

// Color Palette
$primary-color: gold;
$secondary-color: purple;

// Typography

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}

.mejs__time

{color:aliceblue;
    font-size: 20px;
    
}

.mejs__time-total
{background: aliceblue;
    
}

