/* Grand Central Station. TOC. Vertex. A Hub. */

@import "grid";
@import "player";
@import "global";
@import "media-queries";



fancy-title
{
font-family: 'Sansita', sans-serif;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
color: white; }

    
    
}

article
{color: white;
font-family: 'Orbitron', sans-serif;

   
    
}
