@import "grid";
@import "player";
@import "global";
@import "media-queries";

body {background-image: url("/img/stardust.png")}

p {font-family: 'Sansita', sans-serif;
text-align: center;}


h1
{font-family: 'Orbitron', sans-serif;
    color:aliceblue;
    font-size:5em;
    text-align: center;}





element.style {font-family: 'Sansita', sans-serif;
    text-decoration: none;
}
    
    
}
a:link {color: black;}

a:visited {
    color: whitesmoke;}

a:hover {color: lightgrey;}

a:active {color: aliceblue;}


